 /* p{
    background-color: pink;
}
h1{
    background-color: pink;
} */
    
.paragraph{
    background-color:grey;
}
.dailycustomer{
    background-color:pink;
}
.randomcustomer{
    background-color:red;
}