<!-- one way binding -->
<!-- String interpolation-process of binding the
string to the html -->

<!-- {{BankName}}:{{BankAccount}}
<P>{{BankAccount}}</P>
<P>{{getCustomerName()}}</P>

<!- property Binding-process of binding the value
to the property to the HTML. -->

<!-- <input type="text" value="Admin"/>

<input type="text" value="customerID"/> -->

<!-- <input type="checkbox"/> -->
<!-- Female:<input [type]="inputtype"/>
Male:<input [type]="inputtype"/>
<a [href]="Link">Misard</a>
<img [src]="imagesource" /> -->

<!-- button click,mouse over,mouse leave,key press-->
 <!-- <button (click)="evtClick();evt2Click()">click here</button> -->
<!--$event use case :can you get the element details -->

<!-- <p (click)="evtPKeyEvent($event)">fourth paragraph</p>
<input type="text" (keyup)="evtKeyEvent($event)"> --> 

<!-- <input [(ngModel)]="BankName" />
<a [ngModel]="Link">Misard Learning</a>
<select [value]="roles">
    <option value="1">Admin1</option>
    <option value="2">Admin2</option>
</select>

<select [value]="CustomerID">
    <option value="1">101</option>
    <option value="2">102</option>
</select>

<input type="text" [value]="CustomerID" (keypress)="______________"/>

<!- class -->
<!-- <div class="paragraph">Hello world</div>

<div [ngClass]="colorType=='grey'?'paragraph':''">Learning fullstack</div>
<div [ngClass]="customer=='randomcustomer'?'randomcustomer':''">bestcustomer</div> -->


<!-- <app-oneway></app-oneway> -->
 <!-- <app-twoway></app-twoway> -->
  <!-- <app-directive></app-directive> -->
<app-content>
    <input type="text" placeholder="surName" #surName>
    <input type="text" placeholder="jobtitle" #jobtitle job>
</app-content>
<!-- content-child -->

<div>
    <p>
        content child
    </p>
</div>